services:
  torrent-indexer:
    image: felipemarinho97/torrent-indexer:latest
    build: .
    container_name: torrent-indexer
    restart: unless-stopped
    ports:
      - 7006:3000
    networks:
      - indexer
    environment:
      - LOG_LEVEL=debug # 0=debug, 1=info, 2=warn, 3=error
      - REDIS_HOST=torrent-indexer-redis
      - FLARESOLVERR_ADDRESS=http://flaresolverr:8191
      - SHORT_LIVED_CACHE_EXPIRATION=1h
      - LONG_LIVED_CACHE_EXPIRATION=7d
      - INDEXER_STARCK_FILMES_URL=https://starckfilmes-v8.com

      ## Meilisearch configuration (optional)
      - MEILISEARCH_HOST=http://meilisearch:7700
      - MEILISEARCH_API_KEY=my-secret-key

      ## Magnet Metadata API configuration (optional)
      - MAGNET_METADATA_API_ENABLED=true
      - MAGNET_METADATA_API_URL=http://magnet-metadata-api:8080
      - MAGNET_METADATA_API_TIMEOUT_SECONDS=120
  
  redis:
    image: redis:alpine
    container_name: torrent-indexer-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - indexer

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    ports:
      - "8191:8191"
    networks:
      - indexer
    environment:
      - LOG_LEVEL=info
      - TZ=America/Sao_Paulo

  ##### MEILISEARCH #####
  ## This container is not necessary for the indexer to work,
  ## deploy if you want to use the search feature
  #
  meilisearch: 
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    restart: unless-stopped
    ports:
      - "7700:7700"
    networks:
      - indexer
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=my-secret-key

  ##### MAGNET METADATA API #####
  ## This container is not necessary for the indexer to work,
  ## deploy if you want to fetch metadata from p2p network
  ## CAUTION: Never deploy this container on a cloud server (AWS, GCP, Azure, Oracle), or you will get banned!
  #
  magnet-metadata-api:
    image: felipemarinho97/magnet-metadata-api:latest
    container_name: magnet-metadata-api
    restart: unless-stopped
    ports:
      - "8999:8080"
      - "42069:42069"
    networks:
      - indexer
    environment:
      - PORT=8080
      - REDIS_URL=redis://redis:6379
      - CACHE_DIR=/home/torrent/cache
      - ENABLE_DOWNLOADS=false
      - DOWNLOAD_BASE_URL=http://localhost:8999
      - CLIENT_PORT=42069
      - SEEDING_ENABLED=false
      - FALLBACK_INITIAL_CHUNK_SIZE_KB=24
    volumes:
      - ./magnet-metadata-cache:/home/torrent/cache

networks:
  indexer:

